:root {
    color-scheme: dark white;
    --theme: #3ca4ff;
    --bg: #000;
    --fg: #fff;
}
body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"PT Sans","Open Sans","Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
    background: var(--bg);
    color: var(--fg);
}
a {
    text-decoration: none;
    color: var(--theme);
}
a:hover, a:focus { text-decoration: underline; }
a:active {
    background: var(--theme);
    color: inherit;
}
details { margin-bottom: .5rem; }
details[open] {
    border: 1px solid;
    padding: 0 .5rem;
}
details :not(summary) a:visited { color: #0085ff; }
details li { margin-top: 0.2em; }
details[open] summary { padding-top: 0.5em; }
h2 a::before {
    content: "#";
    margin-right: .5rem;
}
footer {
    text-align: center;
    font-size: small;
}
#opml { 
    margin: 1.9rem 0 3rem 0;
    font-weight: bold;
    font-size: 1.5rem;
}
#opml a {
    background: var(--theme);
    color: white;
    padding: .5rem 1rem;
}
.skip-to-content-link {
    background: var(--theme);
    color: var(--fg);
    padding: .3em;
    position: absolute;
    transform: translateY(-200%);
}
.skip-to-content-link:focus { transform: translateY(0%); }
@media (prefers-color-scheme: light) {
    :root { 
        --bg: #fff;
        --fg: #000;
    }
}
